:where(
  audio,
  canvas,
  iframe,
  img,
  figure,
  picture,
  video
) {
  display: block;
  height: auto;
  margin: 0;
  width: 100%;
}

iframe {
  border: 0;
}

svg:not([fill]) {
  fill: currentColor;
}
