<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Roux{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/src/css/app.css?v={% version %}"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    {# {% include "partials/_navigation.njk" %} #}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {# {% include "partials/_footer.njk" %} #}
  </body>
</html>