.component-example [role="tabpanel"] {
  resize: both;
  overflow: auto;
  height: 340px;
}

.component-example__preview-frame {
  border: var(--border--dark);
  height: 100%;
}

.component-example__code {
  border: var(--border--base);
  display: flex;
  overflow: auto;
  height: 100%;
}

.component-example pre[class*="language-"] {
  margin: 0;
  min-width: 100%;
}
