.component-example [role="tabpanel"] {
  resize: both;
  overflow: auto;
}

.component-example__preview-frame {
  border: var(--border--dark);
  height: 340px;
}

.component-example__code {
  border: var(--border--base);
  display: block;
  overflow: auto;
  height: 340px;
}

.component-example pre[class*="language-"] {
  margin: 0;
}
