<header class="page-header">
  <a
    class="button button--primary u-hide-visually u-hide-visually--focus-unhide"
    href="#main"
  >
    Skip to main content
  </a>

  <a class="header-logo" href="{{ '/' | url }}"> Roux Components </a>
  <div class="header-actions">
    <a href="https://github.com/thoughtbot/roux"
      ><img
        src="https://img.shields.io/github/stars/thoughtbot/roux"
        alt="GitHub stars"
        class="github-stars"
    /></a>
  </div>
</header>
