---
permalink: /component-library/alert.html
---

{% extends "site/_includes/layouts/base.njk" %}

{% block content %}
  <h1>Alert</h1>
  
  <div class="alert" role="alert"><p>We’ve been trying to reach to you about your cars extended warranty.</p></div>

  <div class="alert alert--success" role="alert"><p>We’ve been trying to reach to you about your cars extended warranty.</p></div>

  <div class="alert alert--danger" role="alert"><p>We’ve been trying to reach to you about your cars extended warranty.</p></div>

{% endblock %}
