---
title: Badge
description: Badges show a status, count, or label.
permalink: /component-library/badge.html
---

<h2>Considerations</h2>

<p>
  If badges contain just a number or text that requires extra context, add an
  <code>aria-label</code> to provide that context. For example, a badge on a
  mail icon displaying "12" should have a label of "12 unread messages" so that
  assistive tech understands the intent. Or to be even more clear, include the
  label inside the badge.
</p>

<p>
  Badge text is often atomic and text wrapping to a new line is not ideal. Test
  your use case and consider preventing line breaks (use the
  <code>badge--no-break</code> class).
</p>

<h2>Examples</h2>

{% from "partials/_component-preview.njk" import preview %}


{% set example_basic %}
  {% include 'partials/examples/badges/basic.html' %}
{% endset %}

<h3 id="example_basic">Various Badges</h3>
{{ preview(title="Various Badges", code=example_basic, id="example_basic") }}
