---
permalink: /component-library/button.html
---

{% extends "site/_includes/layouts/base.njk" %}

{% block content %}
  <h1>Button</h1>

  <button type="button" class="button button--primary">A primary button</button>
  <button type="button" class="button button--secondary">
    A secondary button
  </button>
  <button type="button" class="button" disabled>A disabled button</button>
  
  <a href="#" class="button button--primary"> A primary button link </a>
  <a href="#" class="button button--secondary"> A secondary button link </a>
{% endblock %}

