---
permalink: /component_library/form.html
---

{% extends "site/_includes/layouts/base.njk" %}

{% block content %}
  <h1>Form</h1>

  <form>
    <fieldset>
      <legend>Personal information</legend>
      <label for="first-name">
        <span>First Name</span>
        <input
          id="first-name"
          type="text"
          name="first-name"
          autocapitalize="off"
          autocorrect="off"
          spellcheck="false"
          required
          autocomplete="given-name"
          />
      </label>
      <label for="last-name">
        <span>Last Name</span>
        <input
          id="last-name"
          type="text"
          name="last-name"
          autocapitalize="off"
          autocorrect="off"
          spellcheck="false"
          required
          autocomplete="family-name"
          />
      </label>
      <label for="email">
        <span>Your email</span>
        <input
          id="email"
          type="email"
          name="email"
          autocapitalize="off"
          autocorrect="off"
          spellcheck="false"
          required
          autocomplete="email"
          />
      </label>
      <label for="birthday">
        <span>Your birthday</span>
        <input
          id="birthday"
          type="date"
          name="birthday"
          required
          autocomplete="bday"
          />
      </label>
    </fieldset>
    <fieldset class="fieldset-required">
      <legend>Do you like ice cream?</legend>
      <label for="icecream-yes">
        <input
          id="icecream-yes"
          type="radio"
          value="Yes"
          name="icecream">
            Yes
       </label>
      <label for="icecream-no">
        <input
          id="icecream-no"
          type="radio"
          value="No"
          name="icecream">
            No
       </label>
     </fieldset>
    <fieldset class="fieldset-required">
      <legend>
        What kind of ice cream do you like?
      </legend>
      <label for="vanilla">
        <input
          id="vanilla"
          type="checkbox"
          value="Vanilla"
          name="flavor">
            Vanilla
      </label>
      <label for="chocolate">
        <input
          id="chocolate"
          type="checkbox"
          value="Chocolate"
          name="flavor">
            Chocolate
      </label>
      <label for="strawberry">
        <input
          id="strawberry"
          type="checkbox"
          value="Strawberry"
          name="flavor">
            Strawberry
      </label>
      <label for="nothing">
        <input
          id="nothing"
          type="checkbox"
          value="nothing"
          name="flavor">
            Nothing (I don't like ice cream)
      </label>
    </fieldset>
    <label for="terms">
      <input id="terms"
             type="checkbox"
             name="termsAgreement">
       I accept the Terms of Service
      </label>
    <label for="explain">
      <span>Explain your answers</span>
      <textarea
        id="explain"
        dir="auto"
        rows="5"
        name="explain"
       >
       </textarea>
    </label>
    <label for="favorite-color">
      <span>Favorite color</span>
      <select
        id="favorite-color"
        name="favorite-color"
        required
       >
        <optgroup label="Primary colors">
          <option value="red">🟥 Red</option>
          <option value="yellow">🟨 Yellow</option>
          <option value="blue">🟦 Blue</option>
        </optgroup>
        <optgroup label="Secondary colors">
          <option value="orange">🟧 Orange</option>
          <option value="green">🟩 Green</option>
          <option value="purple">🟪 Purple</option>
        </optgroup>
      </select>    
    </label>
    <label for="myBrowser">
      <span>Your browser</span>
      <input list="browsers" id="myBrowser" name="myBrowser" autocomplete="off" />
      <datalist id="browsers">
        <option value="Chrome"></option>
        <option value="Firefox"></option>
        <option value="Opera"></option>
        <option value="Safari"></option>
        <option value="Microsoft Edge"></option>
      </datalist>
    </label>
    <label for="input-range">
      <span>Range Input</span>
      <input id="input-range" name="range" type="range" />
     </label>
    <button type="submit" class="button button--primary">Submit</button>
  </form>
{% endblock %}