---
title: Loading Indicator
description: Loading indicators show that content is being loaded, processed, or submitted, asking the user to wait.
permalink: /component-library/loading-indicator.html
---

{% from "partials/_component-example.njk" import preview %}


{% set example_basic %}
  {% include 'partials/examples/loading-indicator/basic.html' %}
{% endset %}

<h1>{{ title }}</h1>

{% if description %}
  <p>{{ description }}</p>
{% endif %}

<h2>Considerations</h2>

<p>
  Loaders should use either the <code>alert</code> or <code>status</code> ARIA
  roles. Use the "alert" role when the user needs to know immediately when
  loading finishes: for example, when submitting a form. This role causes
  assistive technologies to announce all changes in an assertive way, and could
  be annoying. Use the "status" role when the loading state is doesn't need
  immediate attention: for example, when loading extra page content.
</p>

<p>
  When loading content, use the <code>aria-busy="true"</code> attribute on the
  content's container. Change it to <code>false</code> when loading is complete.
</p>

<h2>Examples</h2>

<h3 id="example_info">Spinning Loading Indicator</h3>
{{ preview(title="Spinning Loading Indicator", code=example_basic, id="example_basic") }}
