---
title: Page Header
description: The page header contains top-level branding and navigation.
permalink: /component-library/page-header.html
---

<h2>Considerations</h2>

<p>
  We use the <code>&lt;header&gt;</code> element to wrap content, which provides
  a "banner" role to assistive technologies. Only use one per page. You can give
  the header a more descriptive name with the <code>aria-label</code> attribute,
  which will be announced by assistive technologies. But generally this is not
  necessary.
</p>
<p>
  It's important to include a "skip navigation" link so that keyboard and
  assistive technology users can jump to the main page content without having to
  tab through all the header links. This is usually hidden and only becomes
  visible when focused using the keyboard.
</p>
<p>
  If a logo is included, be sure to give it appropriate alt text. Logo SVGs
  should include a descriptive <code>&lt;title&gt;</code> element.
</p>

<p>
  Navigation must use a <code>&lt;nav&gt;</code> element which provides the
  "navigation" role to assistive technologies. Give it an aria-label like "main
  menu" to differentiate it from other navs like the footer menu.
</p>

<h2>Examples</h2>

{% from "partials/_component-preview.njk" import preview %}


{% set example_nav %}
  {% include 'partials/examples/page-header/nav.html' %}
{% endset %}

<h3 id="example_nav">Page Header with Navigation and Skip Navigation Link</h3>
{{ preview(title="Page Header with Navigation and Skip Navigation Link", code=example_nav, id="example_nav") }}
