---
title: Pagination
description: Pagination allows the user to navigate through pages of content.
permalink: /component-library/pagination.html
---

{% from "partials/_component-example.njk" import preview %}


{% set example_pagy %}
  {% include 'partials/examples/pagination/pagy-series.html' %}
{% endset %}


{% set example_pagy_limited %}
  {% include 'partials/examples/pagination/pagy-series-limited.html' %}
{% endset %}


{% set example_pagy_input %}
  {% include 'partials/examples/pagination/pagy-input.html' %}
{% endset %}


{% set example_simple %}
  {% include 'partials/examples/pagination/simple.html' %}
{% endset %}


{% set example_fancy %}
  {% include 'partials/examples/pagination/fancy.html' %}
{% endset %}

<h1>{{ title }}</h1>

{% if description %}
  <p>{{ description }}</p>
{% endif %}

<h2>Considerations</h2>

<p>
  Wrap pagination in a <code>nav</code> component with a label (using
  <code>aria-label</code> or <code>aria-labelledby</code>) so assistive
  technology can identify it as a navigation landmark.
</p>
<p>
  Indicate the current page both visually, and using
  <code>aria-current=&quot;page&quot;</code> for assistive tech.
</p>
<p>
  If possible, show the total number of pages to give users a sense of how much
  content there is.
</p>
<p>
  When on the first or last page, remove the "next"/"previous" button so users
  can't proceed further in that direction. The best way is to simply omit the
  link/button. If the button is important for layout, disable it with
  <code>aria-disabled=&quot;true&quot;</code>, remove the
  <code>href</code> attribute, and add <code>role="link"</code>. If using a
  <code>&lt;button&gt;</code>, disable it with the
  <code>disabled</code> attribute.
  <a href="https://www.scottohara.me/blog/2021/05/28/disabled-links.html"
    >Read more about this technique.</a
  >
</p>

<p>
  Save the pagination state in the URL so users can bookmark or share links to
  specific pages, and use the back button to navigate. Next/previous and page
  number buttons should use <code>&lt;a&gt;</code> tags, not
  <code>&lt;button&gt;</code> tags.
</p>

<h2>Examples</h2>

<h3 id="example_simple">Simple nav</h3>
{{ preview(title="Simple nav", code=example_simple, id="example_simple") }}

<h3 id="example_fancy">Nav with page gaps and metadata</h3>
{{ preview(title="Nav with page gaps and metadata", code=example_fancy, id="example_fancy") }}

<h3>Pagy Support</h3>
<p>
  Roux includes styles for the popular
  <a href="https://github.com/ddnexus/pagy">Pagy Ruby gem</a>. Pagy offers a few
  types of nav views.
</p>

<h4 id="example_pagy_series">Pagy series nav</h4>
{{ preview(title="Pagy series nav", code=example_pagy, id="example_pagy") }}

<h4 id="example_pagy_limited">Pagy series nav with limited slots</h4>
{{ preview(title="Pagy series nav with limited slots", code=example_pagy_limited, id="example_pagy_limited") }}

<h4 id="example_pagy_input">Pagy input nav</h4>
{{ preview(title="Pagy input nav", code=example_pagy_input, id="example_pagy_input") }}
