---
permalink: /component-library/quote.html
---

{% extends "site/_includes/layouts/base.njk" %}

{% block content %}
  <h1>Quote</h1>

<figure>
  <blockquote>
    <p>Code less, question more. Some of the most experienced developers I know ask a lot of questions before begining to work on a feature. This often leads to a simpler implementation, or sometimes, no implementation at all since the questioning revealed more research was needed.</p>
    <p>
I find that this “question first” mindset is helpful in other areas of consulting, and life as well. It provides an opportunity for others to share their ideas and feel heard.</p>
  </blockquote>
  <figcaption>
    — <cite>Steve Polito</cite>, Senior Developer at thoughtbot
  </figcaption>
</figure>

{% endblock %}
