---
title: Quote
description: Quotes are something someone said, often with a citation.
permalink: /component-library/quote.html
---

{% from "partials/_component-example.njk" import preview %}


{% set example_basic %}
  {% include 'partials/examples/quotes/basic.html' %}
{% endset %}

<h1>{{ title }}</h1>

{% if description %}
  <p>{{ description }}</p>
{% endif %}

<h2>Considerations</h2>

<p>
  A <code>&lt;blockquote&gt;</code> element contains the actual quote. To
  associate the quote with its source, use a
  <code>&lt;figcaption&gt;</code> inside a <code>&lt;figure&gt;</code> element.
  The <code>&lt;cite&gt;</code> element should not be used for quotes.
</p>

<h2>Examples</h2>

<h3 id="example_info">Quote with Citation</h3>
{{ preview(title="Quote with Citation", code=example_basic, id="example_basic") }}
