---
title: Search
description: A free-text entry component for finding or filtering content.
permalink: /component-library/search.html
---

<h2>Considerations</h2>

<p>
  The search component is wrapped in a <code>&lt;search&gt;</code> element which
  defines a <code>search</code> landmark for assistive tech. Search inputs
  should also be wrapped in a <code>&lt;form&gt;</code>, even if submitted via
  JavaScript. Give the <code>&lt;search&gt;</code> commponent a label with
  <code>aria-label</code> or <code>aria-labelledby</code> to distinguish
  different types of search components (like full-site search vs filtering a
  table).
</p>
<p>
  As tempting as it may be, don&#39;t omit the button or label, and don&#39;t
  use placeholder text as the label. It&#39;s important to provide clear labels
  and controls for all users, but especially for assistive tech users.
</p>
<p>
  An input with <code>type=&quot;search&quot;</code> allows browsers to provide
  search UI or change keyboard behavior on mobile devices. The input should
  usually have a <code>required</code> attribute to prevent empty searches.
</p>
<p>
  Since most searches are freeform, autocomplete, autocorrect, and spellcheck
  should be turned off to avoid trying to &quot;fix&quot; the query. (<code
    >autocapitalize=&quot;off&quot; autocorrect=&quot;off&quot;
    spellcheck=&quot;false&quot;</code
  >)
</p>

<h2>Examples</h2>

{% from "partials/_component-preview.njk" import preview %}


{% set example_basic %}
  {% include 'partials/examples/search/basic.html' %}
{% endset %}

<h3 id="example_basic">Basic Search</h3>

<p>
  This example includes a basic search form with a label, input, and submit
  button. Since the button contains both an icon and text, the icon is hidden
  from assistive technology using <code>aria-hidden=&quot;true&quot;</code> so
  that it is not announced.
</p>

{{ preview(title="Basic Search", code=example_basic, id="example_basic") }}
