---
permalink: /component-library/striped-table.html
---

{% extends "site/_includes/layouts/base.njk" %}

{% block content %}
  <h1>Striped Table</h1>

  <table class="table--striped">
    <caption>Monthly spending</caption>
    <thead>
      <tr>
        <th>Month</th>
        <th>Savings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$80</td>
      </tr>
      <tr>
        <td>March</td>
        <td>$30</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Sum</td>
        <td>$210</td>
      </tr>
    </tfoot>
  </table>
{% endblock %}