---
title: Typography
description: Roux includes styles for headlines, body text, links and other typographic elements.
permalink: /component-library/typography.html
---

<h2>Considerations</h2>

<p>
  Be sure to use headline levels in order (H1 followed by H2, etc) so that
  assistive technologies can navigate the page. Skipping a headline level causes
  confusion.
</p>

<h2>Examples</h2>

{% from "partials/_component-preview.njk" import preview %}


{% set example_basic %}
  {% include 'partials/examples/typography/basic.html' %}
{% endset %}

<h3 id="example_basic">Basic Typography</h3>
{{ preview(title="Basic Typography", code=example_basic, id="example_basic") }}
