---
permalink: /component_library/table-overflow-scroll.html
---

{% extends "site/_includes/layouts/base.njk" %}

{% block content %}
  <h1>Table Overflow Scroll</h1>

  <div class="table-outer-wrapper">
    <div class="table-inner-wrapper">
      <table class="table--striped">
        <caption>Monthly spending with overflow container for smaller viewports</caption>
        <thead>
          <tr>
            <th>Category</th>
            <th>Planned</th>
            <th>Actual</th>
            <th>Difference</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Rent/Mortgage</td>
            <td>$1,200</td>
            <td>$1,200</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Utilities</td>
            <td>$150</td>
            <td>$140</td>
            <td>-$10</td>
          </tr>
          <tr>
            <td>Groceries</td>
            <td>$400</td>
            <td>$420</td>
            <td>+$20</td>
          </tr>
          <tr>
             <td>Transportation</td>
             <td>$100</td>
             <td>$80</td>
             <td>-$20</td>
          </tr>
          <tr>
            <td>Entertainment</td>
            <td>$200</td>
            <td>$220</td>
            <td>+$20</td>
          </tr>
          <tr>
            <td>Miscellaneous</td>
            <td>$100</td>
            <td>$90</td>
            <td>-$10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}