/* Reset */
@import "reset/_normalize.css";

/* Dependencies */
@import "base/_variables.css";
@import "base/_fonts.css";

/* Base */
@import "base/_animation.css";
@import "base/_buttons.css";
@import "base/_disclosures.css";
@import "base/_forms.css";
@import "base/_lists.css";
@import "base/_media.css";
@import "base/_modal.css";
@import "base/_tables.css";
@import "base/_typography.css";

/* Components */
/* Import components from the component folder here in ABC order */
/* For example: @import "components/_card.css" */
@import "components/_badge.css";
@import "components/_loading-indicator.css";
@import "components/_alert.css";
@import "components/_page-header.css";
@import "components/_page-footer.css";
@import "components/_page-nav.css";

/* Utilities */
@import "utilities/_hide-visually.css";
@import "utilities/_sizing.css";

/* Site */
/* Import components used for this site here (not design system components) */
@import "site/_tabs-automatic.css";
@import "site/_component-example.css";
