<nav aria-label="Pages">
  <ul class="pagy series-nav">
    <li>
      <a
        href="/path?example=123&page=2"
        class="pagination-previous"
        rel="prev"
        aria-label="Previous"
        >&lt;</a
      >
    </li>
    <li>
      <a href="/path?example=123&page=2" class="pagination-link" rel="prev"
        >2</a
      >
    </li>
    <li>
      <a
        role="link"
        class="pagination-link is-current"
        aria-current="page"
        aria-disabled="true"
        >3</a
      >
    </li>
    <li>
      <a href="/path?example=123&page=4" class="pagination-link" rel="next"
        >4</a
      >
    </li>
    <li>
      <a
        href="/path?example=123&page=4"
        class="pagination-next"
        rel="next"
        aria-label="Next"
        >&gt;</a
      >
    </li>
  </ul>
</nav>
