<nav class="pagy series-nav" aria-label="Pages">
  <a href="/path?example=123&page=2" rel="prev" aria-label="Previous">&lt;</a
  ><a href="/path?example=123&page=1">1</a
  ><a href="/path?example=123&page=2" rel="prev">2</a
  ><a role="link" aria-disabled="true" aria-current="page">3</a
  ><a href="/path?example=123&page=4" rel="next">4</a
  ><a href="/path?example=123&page=5">5</a
  ><a role="separator" aria-disabled="true">&hellip;</a
  ><a href="/path?example=123&page=50">50</a
  ><a href="/path?example=123&page=4" rel="next" aria-label="Next">&gt;</a>
</nav>
