.component-example [role="tabpanel"] {
  resize: both;
  overflow: auto;
}

.component-example__preview-frame {
  border: var(--border--dark);
  height: 340px;
}

.component-example__preview-frame__wrapper {
  padding: var(--space--base);
  display: flex;
  flex-direction: column;
  gap: var(--space--base);
}

.component-example__code {
  border: var(--border--base);
  display: block;
  padding: var(--space--base);
  overflow: auto;
  height: 340px;
}

.component-example pre {
  margin: 0;
}
